.button{
    position: relative;
    margin: auto;
    border: none;
    text-align: center;
    font-size: 18px;
    padding: 10px 30px;
    -webkit-appearance: none;
}
.button:hover{
    background-color: darkgrey;
}
.right, .left{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.navbar{
    padding-top: 20px;
    padding-bottom: 20px;
}
a{
    display: inline;
    padding: 20px 16px;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(63, 61, 61);
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline
}
.footer{
    background-color: rgb(245, 240, 240);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: left;
}
.left{
    float: left;
}
.right{
    float: right;
}
.center{
    margin: auto;
    padding: 250px;
    width: 50%;
    text-align: center;
    display: block;
}
.logo{
    width: 450px;
    margin: auto auto 10px auto;
}
form{
    width: 100%;
    margin: auto;
    display: inline-block;
}
.search_bar{
    position: relative;
    margin: auto;
    font-size: 18px;
    -webkit-appearance: none;
    border: none;
    width: 600px;
    box-shadow: 0 1px 1px 0px rgb(209 202 202);
}
.icon{
    color: rgb(63, 61, 61);
    size: 80%;
}